name: e2e-tests

on:
  workflow_dispatch:
  push:

jobs:
  e2e-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'yarn'
          registry-url: https://registrynpm.storefrontcloud.io

      - name: Install dependencies
        run: yarn install

      - name: Serve application
        run: yarn dev &

      - name: Run cypress tests
        run: yarn test:e2e:run

